.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    background-image: linear-gradient(
      to right top,
      #c777b9,
      #6c8ad1,
      #052847
    );
    @media screen and (min-width: 767px) {
        width: 30%;
        max-width: 460px;
    }
    &:hover {
        transition: all 0.2s;
        scale: 1.04;
        filter: brightness(1.2);
    }


    &__title {
        color: white;
        text-shadow: 1px 1px 3px black;
        font-family: "Raleway";
        text-decoration: none;
    }

    &__description {
        
    }

    &__container {
        background: linear-gradient(90deg, rgba(36, 36, 35, 1) 0%, rgba(15, 15, 15, 1) 70%);
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;

        @media screen and (min-width: 767px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__titles {
            width: 100%;
            color: white;
            font-family: 'Raleway';
        }

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            opacity: 50%;
        }
    }
}
